@inject SignInManager<AppUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <environment include="Development">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SMU</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - SMU</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sociedad Médica Universal</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav">

                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="UserPanel">Editar perfil</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Solicitudes</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Request" asp-action="RegisterRequest">Pedir solicitud</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Request" asp-action="MyRequests">Mis solicitudes</a>
                                    @if (User.IsInRole("Supervisor"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Request" asp-action="ManageSubordinatesRequests">Gestionar solicitudes</a>
                                    }
                                    @if (User.IsInRole("RecursosHumanos") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Request" asp-action="ManageAllRequests">Gestionar todas las solicitudes</a>
                                    }
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Reclamos</a>

                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-area="" asp-controller="Claim" asp-action="RegisterClaim">Generar reclamo</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Claim" asp-action="MyRequests">Mis reclamos</a>

                                    @if (User.IsInRole("RecursosHumanos") || User.IsInRole("SuperAdmin"))
                                    {
                                        <a class="dropdown-item" asp-area="" asp-controller="Claim" asp-action="ManageAllClaims">Gestionar todos los reclamos</a>
                                    }
                                </div>
                            </li>

                            @if (User.IsInRole("SuperAdmin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>

                                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListRoles">Listar roles</a>
                                        <a class="dropdown-item" asp-area="" asp-controller="Administration" asp-action="ListUsers">Listar usuarios</a>
                                    </div>
                                </li>
                            }

                        }
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <p>Hola @User.Identity.Name |</p>
                            </li>
                            <li class="nav-item">

                            </li>
                            <li class="nav-item">
                                <form method="post" asp-controller="Account" asp-action="Logout">
                                    <button type="submit" class="nav-link btn btn-link py-0" style="width:auto">Logout</button>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Entrar</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Sociedad Médica Universal - DERIVATOR
        </div>
    </footer>
    
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()


        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }


</body>
</html>

