@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web;

@model IPagedList<Request>
@{
    ViewData["Title"] = "Mis solicitudes";
}

<h1>Mis solicitudes</h1>

<a class="btn btn-primary" style="width:auto"
   asp-controller="Request" asp-action="RegisterRequest"> Nueva solicitud </a>
<hr />

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().BeginDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().RequestDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().Status)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.Type
                    </td>
                    <td>
                        @item.BeginDate.ToShortDateString()
                    </td>
                    <td>
                        @item.EndDate.ToShortDateString()
                    </td>
                    <td>
                        @item.RequestDate
                    </td>
                    <td>
                        @EnumExtensions.GetDisplayName(item.Status)
                    </td>
                    @if (item.Status == Status.Procesada || item.Status == Status.EnRecursosHumanos)
                    {
                        <td>
                            <div class="col-sm">
                                <form asp-controller="Request" asp-action="DeleteRequest" asp-route-id="@item.Id">
                                    <button type="submit" class="btn btn-danger" style="width:auto"
                                            onclick="return confirm('¿Está seguro de que quiere cancelar la solicitud?')">
                                        Cancelar
                                    </button>
                                </form>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

    @Html.PagedListPager(Model, page => Url.Action("MyRequests", new { page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions()
            {
            Display = X.PagedList.Web.Common.PagedListDisplayMode.IfNeeded
            })

}
else
{
    <h4>No hay solicitudes a su nombre</h4>
}

<div>
    <a asp-controller="Home" asp-action="Index">Atrás</a>
</div>